<!DOCTYPE html>
<link rel="stylesheet" type="text/css" th:href="@{/jystyle.css}">

<html>

<head>
  	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">		
	<title>JY의 심리테스트</title>
</head>

<body>

	<div class="middle">
		<p><b>
			Q<span th:text="${question.number}" />.
			<span th:text="${sessionName}" />님이 <span th:text="${question.question}" />
		</b></p>
	
	<form id="sendForm" th:action="@{/foru/page/{pathParam}(pathParam=${question.number})}" method="post">
	<input type="hidden" name="qnum" id="qnum" th:value="${question.number}" />
	<input type="hidden" name="answer" id="answer" value="" />
	
	<table id="test">		
	</table>
	<span id="countdown" style="font-size : 15pt;" ></span>
	<br>
	<br>
	<div th:each="a : ${answer}" >
		<input type="button" th:value="${a.question}" th:if="${a.anum != '5'}" class="select" th:onclick="selection([[${a.anum}]])"><br>
		
	</div>

		
		
	</form>
	</div>

</body>

<script th:inline="javascript">
	
	// 변수선언
	var totalQnum=3;
	var qnum = document.getElementById("qnum");
	
	// 자동으로 테이블 만들기 
	var table = document.getElementById('test');
	var tbody = document.createElement('tbody');
	
	table.appendChild(tbody);
	
	var tr = document.createElement('tr');
	tbody.appendChild(tr);

	for (i = 0 ; i < totalQnum ; i++ ){
		var td = document.createElement('td');
		if( i + 1 <= qnum.value){
			<!--td.innerHTML = "<img src='../../img/검정꽉찬하트.png' height='20' alt='검은하트'>";-->
			td.innerHTML = "♥";
		}else{

			td.innerHTML = "♡";
		}
		tbody.appendChild(td);
	}




	// 타이머만들기
    var count = 0;
    var time = 0;

      clearInterval(time); // 타이머 우선 초기화 시켜주기(time initialize)

      // 찾은 index로 value찾기
      count = 15;

      // 타이머 함수 1초씩 호출하는 함수 만들기
      time = setInterval("myTimer()", 1000);

    function myTimer() {
      count = count - 1; // 타이머 선택 숫자에서 -1씩 감산함(갱신되기 때문)

      document.getElementById("countdown").innerHTML = "⏰완료까지 <b>" + count + "</b>초";
      if (count == 0) {
        clearInterval(time); // 시간 초기화
        alert("시간이 완료되었습니다.");
        selection(5);
      }
    }
    
    
	
	function selection(num) {
		form = document.getElementById("sendForm");
		answer = document.getElementById("answer");
		answer.value = num;

		form.submit();
	};


</script>

</html>